@import url(//fonts.googleapis.com/css?family=Fira+Mono:400,700);

#editbar {
    display: none !important;
}

#chaticon {
    display: none !important;
}

#editorcontainer {
    top: 0 !important;
}
* {
    font-family: 'Fira Mono' !important;
}
body#outerdocbody {
    overflow-x: hidden !important;
}
