@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700);

#editbar {
    display: none;
}

#chaticon {
    display: none;
}

#editorcontainer {
    top: 0;
}
* {
    font-family: 'Fira Mono' !important;
}
body#outerdocbody {
    overflow-x: hidden !important;
}
